@using OptechX.Portal.Shared.Models.Engine.Applications
@using OptechX.Portal.Shared.Models.Engine.ImageBuilds

<!-- DESKTOP VIEW -->
<div class="row d-none d-md-flex justify-content-center">
    <!-- BUILD HISTORY -->
    <div class="col-md-6 col-12 mb-4">
        <h3>Build History</h3>
        <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
            <table class="table table-responsive custom-table" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Order Date</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Status</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Release</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Edition</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ImageBuilds.Count == 0)
                    {
                        <tr>
                            <td>
                                @DateTime.Today.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                <img src="/icons/twttrbs/question-diamond.svg" alt="No Image" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                <img src="/icons/Linux_tux_circle_logo.svg" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                No images currently built
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (ImageBuildBasic build in ImageBuilds)
                        {
                            <tr>
                                <td>
                                    @build.OrderDate.ToString("yyyy-MM-dd")
                                </td>
                                <td style="display: flex; align-items: center;">
                                    @switch (build.OrderLifecycle)
                                    {
                                        case "SUBMITTED":
                                            <img src="/icons/twttrbs/inbox.svg" alt="Submitted" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "QUEUED":
                                            <img src="/icons/twttrbs/calendar-week.svg" alt="Queued" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "PREWORK":
                                            <img src="/icons/twttrbs/hdd-network.svg" alt="Pre-Work" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "PROCESSING":
                                            <img src="/icons/twttrbs/cpu.svg" alt="Processing" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "COMPILING":
                                            <img src="/icons/twttrbs/stack.svg" alt="Compiling" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "COMPLETE":
                                            <img src="/icons/twttrbs/check-circle.svg" alt="Complete" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "DELETED":
                                            <img src="/icons/twttrbs/file-earmark-x.svg" alt="Deleted" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                    }
                                </td>
                                <td>
                                    @switch (build.WindowsRelease)
                                    {
                                        case "Windows 10":
                                            <img src="/icons/windows/win10.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "Windows 11":
                                            <img src="icons/windows/win11.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                    }
                                </td>
                                <td>
                                    @build.WindowsEdition
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- LAST 5 APPLICATIONS -->
    <div class="col-md-6 col-12 mb-4">
        <h3>Recent Apps</h3>
        <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
            <table class="table table-responsive custom-table" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="width: 20px;"></th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Publisher</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Name</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Version</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationDashboardView app in ApplicationViews)
                    {
                        <tr>
                            <td style="display: flex; align-items: center;">
                                <img src="@app.Icon" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                @app.Publisher
                            </td>
                            <td>
                                @app.Name
                            </td>
                            <td>
                                @app.Version
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- MOBILE VIEW -->
<div class="row d-md-none">
    <!-- BUILD HISTORY -->
    <div class="col-12 mb-4">
        <h4>Build History</h4>
        <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
            <table class="table table-responsive custom-table" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Order Date</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Status</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Release</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Edition</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ImageBuilds.Count == 0)
                    {
                        <tr>
                            <td>
                                @DateTime.Today.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                <img src="/icons/twttrbs/question-diamond.svg" alt="No Image" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                <img src="/icons/Linux_tux_circle_logo.svg" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                No images currently built
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (ImageBuildBasic build in ImageBuilds)
                        {
                            <tr>
                                <td>
                                    @build.OrderDate.ToString("yyyy-MM-dd")
                                </td>
                                <td style="display: flex; align-items: center;">
                                    @switch (build.OrderLifecycle)
                                    {
                                        case "SUBMITTED":
                                            <img src="/icons/twttrbs/inbox.svg" alt="Submitted" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "QUEUED":
                                            <img src="/icons/twttrbs/calendar-week.svg" alt="Queued" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "PREWORK":
                                            <img src="/icons/twttrbs/hdd-network.svg" alt="Pre-Work" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "PROCESSING":
                                            <img src="/icons/twttrbs/cpu.svg" alt="Processing" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "COMPILING":
                                            <img src="/icons/twttrbs/stack.svg" alt="Compiling" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "COMPLETE":
                                            <img src="/icons/twttrbs/check-circle.svg" alt="Complete" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "DELETED":
                                            <img src="/icons/twttrbs/file-earmark-x.svg" alt="Deleted" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                    }
                                </td>
                                <td>
                                    @switch (build.WindowsRelease)
                                    {
                                        case "Windows 10":
                                            <img src="/icons/windows/win10.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                        case "Windows 11":
                                            <img src="icons/windows/win11.png" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                                            break;
                                    }
                                </td>
                                <td>
                                    @build.WindowsEdition
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- LAST 5 APPLICATIONS -->
    <div class="col-12 mb-4">
        <h4>Recent Apps</h4>
        <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
            <table class="table table-responsive custom-table" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="width: 20px;"></th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Publisher</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Name</span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap;">Version</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationDashboardView app in ApplicationViews)
                    {
                        <tr>
                            <td style="display: flex; align-items: center;">
                                <img src="@app.Icon" style="height: 2em; margin-left: 0.5em; margin-right: 0.5em;" />
                            </td>
                            <td>
                                @app.Publisher
                            </td>
                            <td>
                                @app.Name
                            </td>
                            <td>
                                @app.Version
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ApplicationDashboardView> ApplicationViews { get; set; } = null!;

    [Parameter]
    public List<ImageBuildBasic> ImageBuilds { get; set; } = null!;
}