@using OptechX.Portal.Shared.Models.User
@using OptechX.Portal.Shared.Models.Engine.ImageBuilds
@using OptechX.Portal.Shared.Models.Engine.Applications
@using OptechX.Portal.Shared.Models.Generic
@inject IUserDashboardService UserDashboardService
@inject ILocalStorageService LocalStorageService

<div class="row ml-4 mb-3">
    <h2>@pageTitle</h2>
</div>

@*<div class="row d-none d-md-flex justify-content-center">*@ <!-- this code prevents it from being shown on mobile with the d-none -->
<div class="row d-md-flex justify-content-center">
    <!-- this is mobile friendly, this section, at least -->
    <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="card card-1 rounded">
            <div class="card-body">
                <h5 class="mb-3 text-center">Billing Type</h5>
                <div class="td-center">
                    @if (BillingTypeHtml == null)
                    {
                        <img src="/icons/twttrbs/clock-history.svg" alt="loading icon" class="img-fluid" style="max-height: 50px;">
                    }
                    else
                    {
                        @((MarkupString)BillingTypeHtml!)
                        <br />
                        @BillingType
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="card card-2 rounded">
            <div class="card-body">
                <h5 class="mb-3 text-center">Images</h5>
                <div class="text-center">
                    @if (ImagesRemaining <= 1)
                    {
                        <div class="red-text">@ImagesRemaining</div>
                    }
                    else if (ImagesRemaining == 2)
                    {
                        <div class="orange-text">@ImagesRemaining</div>
                    }
                    else
                    {
                        <div class="green-text">@ImagesRemaining</div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="card card-3 rounded">
            <div class="card-body">
                <h5 class="mb-3 text-center">Account Tier</h5>
                <div class="td-center">
                    @if (SubscriptionTierHtml == null)
                    {
                        <img src="/icons/twttrbs/clock-history.svg" alt="loading icon" class="img-fluid" style="max-height: 50px;">
                    }
                    else
                    {
                        <img src="@SubscriptionTierHtml" alt="Account Tier Logo" class="img-fluid" style="max-height: 50px;">
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="card card-4 rounded">
            <div class="card-body">
                <h5 class="mb-3 text-center">Support</h5>
                <div class="text-center">
                    <div class="d-flex flex-wrap justify-content-between">
                        <button class="btn btn-primary mb-2 flex-shrink-1 mx-auto"><i class="fa fa-ticket" aria-hidden="true"></i> Open Ticket</button>
                        @*<button class="btn btn-primary mb-2 flex-shrink-1 mx-auto"><i class="fa fa-whatsapp" aria-hidden="true"></i> Message</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (imageBuildList != null && imageBuildList.Count > 0 && applicationDashboardViewList != null && applicationDashboardViewList.Count > 0)
{
    <DashboardImageHistoryApplicationLast5 ImageBuilds="@imageBuildList" ApplicationViews="@applicationDashboardViewList" />
}
else
{
    <!-- DESKTOP -->
    <div class="row d-none d-md-flex justify-content-center">
        <div class="col-md-6 col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading image build history...</p>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading application update history...</p>
            </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="row d-md-none">
        <div class="col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading image build history...</p>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading application update history...</p>
            </div>
        </div>
    </div>
}

@if (newsArticleList != null && newsArticleList.Count > 0)
{
    <DashboardNewsArticles NewsUpdates="@newsArticleList" />
}
else
{
    <!-- DESKTOP -->
    <div class="row d-none d-md-flex justify-content-center">
        <div class="col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading news articles...</p>
            </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="row d-md-none">
        <div class="col-12 mb-4">
            <div style="height: 300px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px; padding: 5px;" class="mb-3">
                <p>Loading news articles...</p>
            </div>
        </div>
    </div>
}

@code {
    private string pageTitle = "Dashboard";

    UserDashboardResponse? userDashboardResponse;

    private string? BillingType;
    private string? BillingTypeHtml;
    private int ImagesRemaining;
    private string? SubscriptionTier;
    private string? SubscriptionTierHtml;

    private List<ImageBuildBasic>? imageBuildList;
    private List<ApplicationDashboardView>? applicationDashboardViewList;
    private List<NewsUpdate>? newsArticleList;

    // init
    protected override async Task OnInitializedAsync()
    {
        await InitializeAsync();
    }

    // init calls
    private async Task InitializeAsync()
    {
        // get the user dashboard data from the API
        await UserDashboardService.GetUserDashboard(accountId: await LocalStorageService.GetItemAsync<string>("accountId"));
        userDashboardResponse = UserDashboardService.UserDashboard;

        // set billing type
        switch (userDashboardResponse.BillingType)
        {
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.NONE:
                BillingType = "None";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#E0115F\" class=\"bi bi-cart-x\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z\"/>\n  <path d=\"M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.STRIPE:
                BillingType = "Stripe";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#6c757d\" class=\"bi bi-stripe\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.226 5.385c-.584 0-.937.164-.937.593 0 .468.607.674 1.36.93 1.228.415 2.844.963 2.851 2.993C11.5 11.868 9.924 13 7.63 13a7.662 7.662 0 0 1-3.009-.626V9.758c.926.506 2.095.88 3.01.88.617 0 1.058-.165 1.058-.671 0-.518-.658-.755-1.453-1.041C6.026 8.49 4.5 7.94 4.5 6.11 4.5 4.165 5.988 3 8.226 3a7.29 7.29 0 0 1 2.734.505v2.583c-.838-.45-1.896-.703-2.734-.703Z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.PAYPAL:
                BillingType = "PayPal";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#0070BA\" class=\"bi bi-paypal\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.DIRECTDEBIT:
                BillingType = "Direct Debit";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#85bb65\" class=\"bi bi-bank\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.ACCOUNT_7_DAYS:
                BillingType = "7 Day Account";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#CD7F32\" class=\"bi bi-receipt\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z\"/>\n  <path d=\"M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.ACCOUNT_14_DAYS:
                BillingType = "14 Day Account";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#C0C0C0\" class=\"bi bi-receipt\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z\"/>\n  <path d=\"M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.ACCOUNT_30_DAYS:
                BillingType = "30 Day Account";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#E5E4E2\" class=\"bi bi-receipt\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z\"/>\n  <path d=\"M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.INVOICE:
                BillingType = "Invoice";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#E5E4E2\" class=\"bi bi-receipt\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z\"/>\n  <path d=\"M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.GRATIS:
                BillingType = "Gratis";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#FFD700\" class=\"bi bi-emoji-smile\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z\"/>\n  <path d=\"M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z\"/>\n</svg>";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.BillingType.TRIAL:
                BillingType = "Trial";
                BillingTypeHtml = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" fill=\"#FFA500\" class=\"bi bi-rulers\" viewBox=\"0 0 16 16\" style=\"max-height: 50px;\">\n  <path d=\"M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h5v-1H2v-1h4v-1H4v-1h2v-1H2v-1h4V9H4V8h2V7H2V6h4V2h1v4h1V4h1v2h1V2h1v4h1V4h1v2h1V2h1v4h1V1a1 1 0 0 0-1-1H1z\"/>\n</svg>";
                break;
        }

        // set images remaining
        ImagesRemaining = userDashboardResponse.ImagesRemaining;

        // subscription tier
        switch (userDashboardResponse.AccountTier)
        {
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.BASIC:
                SubscriptionTier = "Basic";
                SubscriptionTierHtml = "/img/account_tiers/medal_1.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.POWER_USER:
                SubscriptionTier = "Power User";
                SubscriptionTierHtml = "/img/account_tiers/medal_2.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.PROFESSIONAL:
                SubscriptionTier = "Professional";
                SubscriptionTierHtml = "/img/account_tiers/medal_3.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.SMB:
                SubscriptionTier = "SMB";
                SubscriptionTierHtml = "/img/account_tiers/medal_3.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.ENTERPRISE:
                SubscriptionTier = "Enterprise";
                SubscriptionTierHtml = "/img/account_tiers/medal_4.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.GOVERNMENT:
                SubscriptionTier = "Government";
                SubscriptionTierHtml = "/img/account_tiers/medal_4.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.VIP:
                SubscriptionTier = "VIP";
                SubscriptionTierHtml = "/img/account_tiers/medal_5.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.FOUNDER:
                SubscriptionTier = "Founder";
                SubscriptionTierHtml = "/img/account_tiers/medal_5.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.SHAREHOLDER:
                SubscriptionTier = "Shareholder";
                SubscriptionTierHtml = "/img/account_tiers/medal_1.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.PAUSED:
                SubscriptionTier = "PAUSED";
                SubscriptionTierHtml = "/img/account_tiers/medal_1.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.OTHER:
                SubscriptionTier = "Other";
                SubscriptionTierHtml = "/img/account_tiers/medal_5.svg";
                break;
            case OptechX.Portal.Shared.Models.User.Constants.AccountTier.CLOSED:
                SubscriptionTier = "CLOSED";
                SubscriptionTierHtml = "/img/account_tiers/medal_1.svg";
                break;
        }

        imageBuildList = userDashboardResponse.ImageBuildBasics;
        applicationDashboardViewList = userDashboardResponse.ApplicationDashboardViews;
        newsArticleList = userDashboardResponse.NewsUpdates;

        await Task.Delay(3000);
    }

    private void SendEmail()
    {
        Console.WriteLine("Email send");
    }
}
